<header>
  <mat-toolbar color="primary">
    <div class="header">
        <a mat-button routerLink="/chats"
          *ngIf="authService.isAuthorized()">Chats</a>
      <a mat-button routerLink="/users"
         *ngIf="authService.isAuthorized()">Users</a>
        <a mat-button routerLink="/login"
           *ngIf="!authService.isAuthorized()">Login</a>
      <a mat-button routerLink="/dashboard"
         *ngIf="authService.isAuthorized()">Dashboard</a>
        <a mat-button routerLink="/logout"
           *ngIf="authService.isAuthorized()" (click)="onLogout()">Logout</a>
    </div>
  </mat-toolbar>
</header>
