<div class="chat-container">
  <div class="chat-header">
    <div class="chat-name">{{chat.name}}</div>
  </div>

  <div class="chat-messages" #messagesContainer>
    <app-message
      *ngFor="let message of chat?.messages"
      [ngClass]="{'my-message': message.senderId == authService.getUserId()}"
      [message]="message"
      [chat]="chat">
    </app-message>
  </div>

  <div class="chat-input">
    <textarea
      class="message-input"
      placeholder="Write message..."
      matInput
      [(ngModel)] = "messageText"
      (keydown.enter) = "onSend(messageText)"></textarea>

    <button
      mat-icon-button
      *ngIf = "messageText.trim()"
      (click)="onSend(messageText)">
        <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
