<div class="message-container">
  <div class="sender-info">
    <p>
      {{message?.senderName}}
      <button mat-icon-button class="menu-button" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu = "matMenu">
        <button *ngIf="message?.senderName == authService.getUsername()" mat-menu-item (click)="onDelete()">
          Delete
          <mat-icon>delete</mat-icon>
        </button>

        <button 
          *ngIf="message?.senderName == authService.getUsername()" mat-menu-item (click)="onEdit()">
          Edit
          <mat-icon>create</mat-icon>
        </button>

        <button mat-menu-item (click)="onReply()">
          Reply
          <mat-icon>reply</mat-icon>
        </button>
      </mat-menu>
    </p>
  </div>
  <div class="message-content">
    <p>{{message?.text}}</p>
    <p class="message-sent-at">{{message?.sentAt | date:'short' : 'GMT+3'}}</p>
  </div>
</div>
